.content {
    display: grid;
    margin-top: 50px;
    grid-template: 1fr 2fr 1fr / 1fr 3fr 1fr;
    grid-gap: 5px;
}
.image {
    grid-area: 2 / 2 / 3 / 3;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.contact {
    grid-area: 2 / 2 / 3 / 3;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

table,td {
    padding: 10px;
}

.blurb-heading {
    grid-area: 1 / 1 / 2 / 2;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.myprojects-heading {
    grid-area: 2 / 1 / 3 / 2;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.technical-heading {
    grid-area: 3 / 1 / 4 / 2;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.blurb {
    grid-area: 1 / 2 / 2 / 3;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.photo {
    grid-area: 1 / 3 / 2 / 4;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.link {
    grid-area: 2 / 3 / 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.resume {
    grid-area: 3 / 3 / 4 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.project {

    grid-area: 2 / 2 / 2 / 3;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.blurb p {
    text-align: justify;
}

#btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 20px;
    border: none;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

#btn:hover {
    background-color: white;
    color: black;
}

@media screen and (max-width: 600px) {
    .image {
        align-items: center;
        justify-content: center;
    }
    .contact {
        align-items: unset;
        justify-content: unset;
    }
    .blurb {
        align-items: flex-end;
        justify-content: flex-end;
    }
    .links li{
        display: block;
        margin-top: 10px;
    }
}

#gallery {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 300px repeat(2, 200px);
    grid-gap: 5px;
}

.item1 {
    grid-area: 1 / 1 / 2 / -1;
}

.body {
    margin-top: 5%;
    justify-content: center;
    display: flex;
}

.body table {
    align-self: center;
}

.body input[type=text], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.body button {
    width: 100%;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#editDiv button,#deleteDiv button,#addDiv button {
    width: 25%;
    border: 1px solid black;
    color: black;
    background-color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
}

.body button:hover {
    font-weight: bolder;
}

.body input[type=text]:focus {
    color: red;
}

#name-error {
    color: red;
    display: none;
    text-align: right;
}

#email-error {
    color: red;
    display: none;
    text-align: right;
}

.links ul {
    text-align: center;
}

.links li { 
    display: inline-block;
    list-style-type: none;
    margin-left: 10px;
    margin-right: 10px;
}

#editDiv, #deleteDiv {
    display: none;
    margin: 0 20px;
}

#addDiv {
    display: flex;
    justify-content: center;
}

#edit-form, #add-form {
    display: none;
    margin-top: 5%;
    justify-content: center;
}

#edit-form input[type=text],input[type=date], textarea,
#add-form input[type="text"],input[type=date], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}

#edit-form button, #add-form button {
    width: 100%;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#editDiv button:hover, #addDiv button:hover, #deleteDiv button:hover {
    color : white;
    font-weight: bold;
    background-color: black;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-content button {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .modal-content button:hover {
      color : black;
      border : 1px solid black;
      font-weight: bold;
      background-color: white;
  }
  
